#root {
  max-width: 1280px;
  margin: 0 auto;
  justify-items: center;
}
.download-button,
.demo-button{
  height: 50px;
  width: 200px;
}
.number-of-rows{
  margin-left: 10px;
  margin-right: 20px;
}
table 
{
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(18, 22, 22);
  background-color: #242424;
  padding: 4px;
}
.button-add-record{
  margin: 10px;
  width: 400px;
  height: 50px;
}