.table-row td{
    height: 60px;
    padding: 4px;
}

.table-row td input{
    box-sizing: border-box;
}

.table-row td.cell-number {
    width: 150px;
    max-width: 150px;
    border: 2px;
}
.table-row td.cell-text  {
    width: 200px;
    max-width: 200px;
}
.table-row td.cell-number input{
    width: 150px;
}
.table-row td.cell-text input {
    width: 200px;
}
.table-row td button{
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    padding: 0;
    justify-content: center;
}
.toggle-switch {
  text-align: center;
  vertical-align: middle;
}