.file-type-select{
    height: 30px;
    background-color:inherit;
    padding: 0;
    border-radius: 4px;
    border-style: solid;
    border-color: #505050;
    height: 50px;
    justify-content: center;
    justify-items: center;
    font-size:1.2em;
    width: 108px;
    color: #ffffff;
}
.file-type-select option{
    background-color: #505050;
}